{% comment %}
Get the page content or included content
{% endcomment %}
{% assign content = include.content | default: page.content %}

{% comment %}
Remove fenced code blocks (``` or ~~~)
{% endcomment %}
{% assign content_count = content | replace_regex: '```(.|\n|\r)*?```', '' %}
{% assign content_count = content_count | replace_regex: '~~~(.|\n|\r)*?~~~', '' %}

{% comment %}
Remove inline code
{% endcomment %}
{% assign content_count = content_count | replace_regex: '`[^`]+`', '' %}

{% comment %}
Strip HTML tags and collapse whitespace
{% endcomment %}
{% assign content_count = content_count | markdownify | strip_html | strip_newlines | replace: '\n', ' ' | replace: '\r', ' ' | replace_regex: '\s+', ' ' | strip %}

{% comment %}
Count words and calculate minutes
{% endcomment %}
{% assign words = content_count | number_of_words %}
{% assign minutes = words | divided_by:200 | ceil | at_least:1 %}

{% comment %}
Output with inline style to override grey
{% endcomment %}
<span style="color: white; font-weight: bold;">
  {{ minutes }} min read
</span>
